<div>
  <div
    [fData]="'Node 1'"
    fExternalItem
    class="f-component f-external-item visual-programming-external-item"
    ng-reflect-f-data="input"
    id="f-external-item-0"
    style="border-color: rgb(224, 87, 91); color: rgb(224, 87, 91)"
  >
    <div _ngcontent-ng-c3857055430="" class="icon" style="pointer-events: none">
      Node 1
    </div>
  </div>
  <div
    [fData]="'Node 2'"
    fExternalItem
    class="f-component f-external-item visual-programming-external-item"
    ng-reflect-f-data="settings"
    id="f-external-item-1"
    style="border-color: rgb(159, 106, 0); color: rgb(159, 106, 0)"
  >
    <div _ngcontent-ng-c3857055430="" class="icon" style="pointer-events: none">
      Node 2
    </div>
  </div>
  <div
    [fData]="'Node 3'"
    fExternalItem
    class="f-component f-external-item visual-programming-external-item"
    ng-reflect-f-data="switch"
    id="f-external-item-2"
    style="border-color: rgb(142, 92, 217); color: rgb(142, 92, 217)"
  >
    <div _ngcontent-ng-c3857055430="" class="icon" style="pointer-events: none">
      Node 3
    </div>
  </div>
  <div
    [fData]="'Node 4'"
    fExternalItem
    class="f-component f-external-item visual-programming-external-item"
    ng-reflect-f-data="cycle"
    id="f-external-item-3"
    style="border-color: rgb(142, 92, 217); color: rgb(142, 92, 217)"
  >
    <div _ngcontent-ng-c3857055430="" class="icon" style="pointer-events: none">
      Node 4
    </div>
  </div>
  <!--container-->
</div>
<f-flow
  fDraggable
  (fLoaded)="onLoaded()"
  (fCreateConnection)="onCreateConnection($event)"
  (fReassignConnection)="reassignConnection($event)"
  (fCreateNode)="onNodeAdded($event)"
>
  <f-canvas>
    <f-connection-for-create fBehavior="floating"></f-connection-for-create>
    <f-connection
      *ngFor="let connection of connections"
      [fReassignDisabled]="false"
      [fOutputId]="connection.from"
      [fInputId]="connection.to"
      fBehavior="floating"
    >
    </f-connection>

    <div
      *ngFor="let node of nodes"
      fNode
      fDragHandle
      [fNodePosition]="node.position"
      (fNodePositionChange)="onNodePositionChanged($event, node)"
    >
      <div
        *ngFor="let output of node.outputs"
        fNodeOutput
        [fOutputId]="output.id"
        [class]="output.class"
      ></div>
      <div
        *ngFor="let input of node.inputs"
        fNodeInput
        [fInputId]="input.id"
        fNodeOutput
        [fOutputId]="input.connectedTo"
        [class]="input.class"
      ></div>
      <div
        class="circle"
        fNodeOutlet
        [isConnectionFromOutlet]="isConnectionFromOutlet"
      ></div>
      {{ node.name }}
    </div>
  </f-canvas>
  <f-selection-area></f-selection-area>
</f-flow>

<div class="toolbar">
  <button class="f-button" (click)="onDeleteConnections()">
    Delete Connections
  </button>
  <!-- <button class="f-button" (click)="addNode()">Add Node</button> -->
  <input
    type="checkbox"
    [checked]="isConnectionFromOutlet"
    (change)="onConnectionFromOutletChange($event)"
  />
  Draw connection from outlet
</div>
